.root{
	-fx-font-family: "Microsoft YaHei";
}
.tips-label {
	-fx-font-size: 30;
	-fx-text-fill: #fbee5b;
}

.input-box {
    -fx-pref-height: 70.0;
    -fx-background-color: white;
    -fx-background-radius: 8.0;
    
    -fx-border-color:rgb(203.0,203.0,203.0);
    -fx-border-radius:8.0;
    -fx-border-width:2.0;
}

.input-box .text-field {
    -fx-text-fill: rgb(60.0, 60.0, 60.0);
    -fx-font-size: 32.0;
    -fx-background-color: white;
    -fx-prompt-text-fill: rgb(203.0,203.0,203.0);
    -fx-padding: 0.0 10.0 0.0 10.0;
}

.button-main{
	-fx-font-size: 30.0;
	-fx-font-weight:bold;
	-fx-text-fill: #ffffff;
	
	-fx-background-color: #ed7020;
	-fx-background-radius: 5.0;
}
.button-main:pressed {
	-fx-font-size: 30.0;
	-fx-font-weight:bold;
	-fx-text-fill: #ffffff;
	
	-fx-background-color: #fca167;
	-fx-background-radius: 5.0;
}
.button-sub {
	-fx-font-size: 24.0;
	-fx-text-fill: #ed7020;
	-fx-background-radius:8.0;
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
	
	-fx-border-color:#ed7020;
	-fx-border-radius:8.0;
	-fx-border-width:2.0;
}
.button-sub:pressed {
	-fx-font-size: 24.0;
	-fx-text-fill: white;
	-fx-background-color: #ed7020;
	-fx-background-radius: 8.0;
}
.button-take{
	-fx-font-size: 30.0;
	-fx-font-weight:bold;
	-fx-text-fill: #ffffff;
	
	-fx-background-color: #078fcb;
	-fx-background-radius: 5.0;
}
.button-take:pressed {
	-fx-font-size: 30.0;
	-fx-font-weight:bold;
	-fx-text-fill: #ffffff;
	
	-fx-background-color: #3cc0f9;
	-fx-background-radius: 5.0;
}
.glass-pane {
	-fx-background-color: rgba(255,255,255,0.2);
	-fx-background-radius: 8;
}